@page
@model IndexModel
<!DOCTYPE html>
<html>
<head>
    <title>Dummy Web App</title>
</head>
<body>
    <h1>Hello, Code Signing POC Web App!</h1>
    <p>The current time is @Model.CurrentTime</p>
</body>
</html>